flows.json
[{"id":"a7efa5bb.556618","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29e6279c.870198","type":"NGSI-Entity","z":"a7efa5bb.556618","name":"","endpoint":"753dccd2.50eb04","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":410,"y":780,"wires":[["56f74a89.2e12d4"]]},{"id":"56f74a89.2e12d4","type":"json","z":"a7efa5bb.556618","name":"","property":"payload","action":"","pretty":false,"x":550,"y":780,"wires":[["d5dbaaf8.531698","dff8f8a6.b1b1e8","d93e07c9.0fbac8"]]},{"id":"d5d40678.57cc98","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":240,"wires":[["b0006097.061e1"]]},{"id":"f29b9488.ff5068","type":"uibuilder","z":"a7efa5bb.556618","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":80,"y":100,"wires":[[],[]]},{"id":"98137633.e051d8","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":780,"wires":[["aeb93c48.70a36"]]},{"id":"d5dbaaf8.531698","type":"function","z":"a7efa5bb.556618","name":"Energia","func":"\nreturn msg.payload.energia;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":740,"wires":[["d5554c52.52d4b"]]},{"id":"dff8f8a6.b1b1e8","type":"function","z":"a7efa5bb.556618","name":"Vazão","func":"\nreturn msg.payload.vazao;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":780,"wires":[["70f81c4e.9a7054"]]},{"id":"d5554c52.52d4b","type":"ui_gauge","z":"a7efa5bb.556618","name":"Energia","group":"a962a0d7.8fee","order":2,"width":0,"height":0,"gtype":"gage","title":"Energia","label":"kWh","format":"{{value}}","min":0,"max":"250","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":860,"y":740,"wires":[]},{"id":"1d642282.6ae90d","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"vazao\"}","payloadType":"json","x":1140,"y":220,"wires":[["b054690f.194a28"]]},{"id":"b8a9bc91.b7bc2","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":260,"wires":[["d5d40678.57cc98","beda1518.28ecb8"]]},{"id":"55a5e183.19ce","type":"comment","z":"a7efa5bb.556618","name":"Dashboard - Construtor","info":"","x":120,"y":60,"wires":[]},{"id":"5d532104.0a335","type":"NGSI-Entity","z":"a7efa5bb.556618","name":"","endpoint":"753dccd2.50eb04","protocol":"v2","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":410,"y":580,"wires":[["ea623443.c6cc88"]]},{"id":"ea623443.c6cc88","type":"json","z":"a7efa5bb.556618","name":"","property":"payload","action":"","pretty":false,"x":550,"y":580,"wires":[["f01e648e.6e3668","b3b98541.258468","7ec4ab71.e1e284"]]},{"id":"f01e648e.6e3668","type":"function","z":"a7efa5bb.556618","name":"Temperatura","func":"\nreturn msg.payload.temperatura;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":540,"wires":[["ac70e140.5c8d6"]]},{"id":"d832cdc7.bea37","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"select","payloadType":"flow","x":110,"y":580,"wires":[["7cae6a5f.150fc4"]]},{"id":"b3b98541.258468","type":"function","z":"a7efa5bb.556618","name":"Luz","func":"\nreturn msg.payload.luminosidade;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":580,"wires":[["ca966697.b15a68"]]},{"id":"7e289cd2.5539e4","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Gauge - Postes","info":"","x":120,"y":540,"wires":[]},{"id":"432a0d50.67ce74","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Gauge - Casas","info":"","x":120,"y":740,"wires":[]},{"id":"586b5afe.125ce4","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":380,"wires":[["da863501.fa2258"]]},{"id":"da863501.fa2258","type":"function","z":"a7efa5bb.556618","name":"Make Request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.32:1026/v2/entities\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":380,"wires":[["2b9ef753.bc14d8"]]},{"id":"2b9ef753.bc14d8","type":"http request","z":"a7efa5bb.556618","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://143.107.145.32:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":380,"wires":[["8dec9cfa.5a5fb"]]},{"id":"8dec9cfa.5a5fb","type":"function","z":"a7efa5bb.556618","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    if (elem.id.startsWith('urn:ngsi-ld:Casa'))\n    {\n        elem.id = elem.id.substring(12);\n        //elem.id = elem.id.replace(\":\", \"\");\n        //elem.id = elem.id.replace(\"0\", \"\");\n        ids.push(elem.id);\n    }\n});\nreturn {options:ids};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["d70c854f.882648"]]},{"id":"fd4fb8b6.7db048","type":"change","z":"a7efa5bb.556618","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":420,"wires":[["d9ebafc.61b1d5"]]},{"id":"d70c854f.882648","type":"ui_dropdown","z":"a7efa5bb.556618","name":"","label":"","tooltip":"Selecione o dispositivo na lista","place":"Selecione o Dispositivo","group":"a962a0d7.8fee","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":700,"y":380,"wires":[["fd4fb8b6.7db048"]]},{"id":"12e2da72.310256","type":"comment","z":"a7efa5bb.556618","name":"Combobox - Casas","info":"","x":110,"y":340,"wires":[]},{"id":"b054690f.194a28","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":220,"wires":[["b8a9bc91.b7bc2"]]},{"id":"beda1518.28ecb8","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":200,"wires":[]},{"id":"33b407da.54f988","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":360,"wires":[["6ea6304f.a8b63"]]},{"id":"6ea6304f.a8b63","type":"ui_chart","z":"a7efa5bb.556618","name":"Temperatura - Histórico","group":"17efd91.029e827","order":4,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperatura","dot":true,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":360,"wires":[[]],"inputLabels":["Vazão"]},{"id":"21c366fa.813c8a","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"temperatura\"}","payloadType":"json","x":1090,"y":340,"wires":[["ff9c4821.fa9068"]]},{"id":"cea24f03.bfd9c","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":380,"wires":[["33b407da.54f988","a6ede77.9715018"]]},{"id":"ff9c4821.fa9068","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":340,"wires":[["cea24f03.bfd9c"]]},{"id":"a6ede77.9715018","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":320,"wires":[]},{"id":"b0006097.061e1","type":"ui_chart","z":"a7efa5bb.556618","name":"Vazão - Histórico","group":"18e9eea3.340e91","order":6,"width":0,"height":0,"label":"Vazão","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Vazão","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0008ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#f5f0f9","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":240,"wires":[[]],"inputLabels":["Vazão"]},{"id":"70f81c4e.9a7054","type":"ui_gauge","z":"a7efa5bb.556618","name":"Vazão","group":"a962a0d7.8fee","order":3,"width":0,"height":0,"gtype":"wave","title":"Vazão","label":"m³/s","format":"{{value}}","min":0,"max":"100","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":850,"y":780,"wires":[]},{"id":"e833f11e.7c49a","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":480,"wires":[["38663bdc.785b84"]]},{"id":"38663bdc.785b84","type":"ui_chart","z":"a7efa5bb.556618","name":"Luz - Histórico","group":"17efd91.029e827","order":2,"width":0,"height":0,"label":"Luz","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Luz","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1740,"y":480,"wires":[[]],"inputLabels":["Vazão"]},{"id":"2a2703f5.bb1b1c","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"luminosidade\"}","payloadType":"json","x":1090,"y":460,"wires":[["4e725d37.77d8f4"]]},{"id":"ff3611da.ef0ba","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":500,"wires":[["e833f11e.7c49a","432a4de5.998924"]]},{"id":"4e725d37.77d8f4","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":460,"wires":[["ff3611da.ef0ba"]]},{"id":"432a4de5.998924","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":440,"wires":[]},{"id":"48f2be16.dcb54","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":600,"wires":[["6f72e59a.f03eac"]]},{"id":"6f72e59a.f03eac","type":"ui_chart","z":"a7efa5bb.556618","name":"Energia - Histórico","group":"18e9eea3.340e91","order":2,"width":0,"height":0,"label":"Energia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Energia","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1750,"y":600,"wires":[[]],"inputLabels":["Vazão"]},{"id":"c0820dce.44092","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"energia\"}","payloadType":"json","x":1150,"y":580,"wires":[["3e6e9ad9.198636"]]},{"id":"92c7447a.dd3078","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":620,"wires":[["48f2be16.dcb54","975f6478.5679a8"]]},{"id":"3e6e9ad9.198636","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":580,"wires":[["92c7447a.dd3078"]]},{"id":"975f6478.5679a8","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":560,"wires":[]},{"id":"ac70e140.5c8d6","type":"ui_gauge","z":"a7efa5bb.556618","name":"Temperatura","group":"4ecb4761.d12288","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":870,"y":540,"wires":[]},{"id":"ca966697.b15a68","type":"ui_gauge","z":"a7efa5bb.556618","name":"Luz","group":"4ecb4761.d12288","order":3,"width":0,"height":0,"gtype":"compass","title":"Luz","label":"lumens","format":"{{value}}","min":0,"max":"100","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":850,"y":580,"wires":[]},{"id":"180c8736.f229d9","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Vazão","info":"","x":1130,"y":180,"wires":[]},{"id":"a6231e2c.69392","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Temperatura","info":"","x":1150,"y":300,"wires":[]},{"id":"4b8159ec.11be38","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Luz","info":"","x":1120,"y":420,"wires":[]},{"id":"901feafb.eb9808","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Energia","info":"","x":1130,"y":540,"wires":[]},{"id":"b262cbd4.939108","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var soma = 0;\nvar custo = 0.02;\n\nvar mes_atual = new Date();\n\nmsg.payload.forEach((elem, idx) => {\n    \n    var recordDate = new Date(elem.recvTime);\n    var mes_registro = recordDate.getMonth();\n    \n    if (mes_registro == mes_atual.getMonth())\n        soma = soma + parseInt(elem.attrValue); \n})\n\nmsg.payload = Math.round(soma * custo)/4;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":220,"wires":[["86caa85c.21ecc8"]]},{"id":"a97e18cb.a422d8","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"vazao\"}","payloadType":"json","x":2060,"y":180,"wires":[["f32de878.dd6df8"]]},{"id":"663bdafa.e7cca4","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":2260,"y":220,"wires":[["b262cbd4.939108"]]},{"id":"f32de878.dd6df8","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":180,"wires":[["663bdafa.e7cca4"]]},{"id":"17eee2a2.0af06d","type":"comment","z":"a7efa5bb.556618","name":"Gastos - Vazão","info":"","x":2020,"y":140,"wires":[]},{"id":"86caa85c.21ecc8","type":"ui_gauge","z":"a7efa5bb.556618","name":"Água","group":"46f2df96.94c38","order":1,"width":0,"height":0,"gtype":"donut","title":"Água","label":"R$","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2630,"y":220,"wires":[]},{"id":"56821515.82acfc","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var soma = 0;\nvar custo = 0.02;\n\nvar mes_atual = new Date();\n\nmsg.payload.forEach((elem, idx) => {\n    \n    var recordDate = new Date(elem.recvTime);\n    var mes_registro = recordDate.getMonth();\n    \n    if (mes_registro == mes_atual.getMonth())\n        soma = soma + parseInt(elem.attrValue); \n})\n\nmsg.payload = Math.round(soma * custo)/4;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":340,"wires":[["878aab50.282268"]]},{"id":"f877d332.c79b1","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"energia\"}","payloadType":"json","x":2070,"y":300,"wires":[["f64df40a.519988"]]},{"id":"b19ad4c.cd5ea28","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":2260,"y":340,"wires":[["56821515.82acfc"]]},{"id":"f64df40a.519988","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":300,"wires":[["b19ad4c.cd5ea28"]]},{"id":"62d9e33f.b8afec","type":"comment","z":"a7efa5bb.556618","name":"Gastos - Energia","info":"","x":2020,"y":260,"wires":[]},{"id":"878aab50.282268","type":"ui_gauge","z":"a7efa5bb.556618","name":"Gasto - Energia","group":"46f2df96.94c38","order":3,"width":0,"height":0,"gtype":"donut","title":"Energia","label":"R$","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2660,"y":340,"wires":[]},{"id":"15f46739.c11b79","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\n\nm.labelsSum = [];\n\nfor(var i=0; i < 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar mes = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        mes = recordDate.getMonth();\n        \n        if(mes === 0) {\n            m.labelsSum[0] += parseInt(elem.attrValue);\n            \n        }else if(mes === 1) {\n            m.labelsSum[1] += parseInt(elem.attrValue);\n            \n        }else if(mes === 2) {\n            m.labelsSum[2] += parseInt(elem.attrValue);\n            \n        }else if(mes === 3) {\n            m.labelsSum[3] += parseInt(elem.attrValue);\n            \n        }else if(mes === 4) {\n            m.labelsSum[4] += parseInt(elem.attrValue);\n            \n        }else if(mes === 5) {\n            m.labelsSum[5] += parseInt(elem.attrValue);\n            \n        }else if(mes === 6) {\n            m.labelsSum[6] += parseInt(elem.attrValue);\n            \n        }else if(mes === 7) {\n            m.labelsSum[7] += parseInt(elem.attrValue);\n            \n        }else if(mes === 8) {\n            m.labelsSum[8] += parseInt(elem.attrValue);\n            \n        }else if(mes) {\n            m.labelsSum[9] += parseInt(elem.attrValue);\n            \n        }else if(mes === 10) {\n            m.labelsSum[10] += parseInt(elem.attrValue);\n            \n        }else if(mes === 11) {\n            m.labelsSum[11] += parseInt(elem.attrValue);\n            \n        }\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsSum[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push((parseFloat(m.labelsSum[i])*0.02)/4);\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3330,"y":220,"wires":[["299453ad.28d01c","cd6678da.874418"]]},{"id":"8efb43ab.ffd4c","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"vazao\"}","payloadType":"json","x":2920,"y":180,"wires":[["1b25037d.1d3d3d"]]},{"id":"2bc22362.6ed27c","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":3120,"y":220,"wires":[["15f46739.c11b79"]]},{"id":"1b25037d.1d3d3d","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3120,"y":180,"wires":[["2bc22362.6ed27c","86bc5efb.8691d"]]},{"id":"96e9794c.8598c8","type":"comment","z":"a7efa5bb.556618","name":"Custo x Mês - Vazão","info":"","x":2890,"y":140,"wires":[]},{"id":"299453ad.28d01c","type":"ui_chart","z":"a7efa5bb.556618","name":"Água - Gastos por mês (R$)","group":"84e01bf4.750c98","order":2,"width":0,"height":0,"label":"Água - Gastos por mês (R$)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Água - Gastos por mês (R$)","dot":true,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3560,"y":220,"wires":[[]],"inputLabels":["Vazão"]},{"id":"cd6678da.874418","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3510,"y":180,"wires":[]},{"id":"c60123c1.0de03","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\n\nm.labelsSum = [];\n\nfor(var i=0; i < 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar mes = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        mes = recordDate.getMonth();\n        \n        if(mes === 0) {\n            m.labelsSum[0] += parseInt(elem.attrValue);\n            \n        }else if(mes === 1) {\n            m.labelsSum[1] += parseInt(elem.attrValue);\n            \n        }else if(mes === 2) {\n            m.labelsSum[2] += parseInt(elem.attrValue);\n            \n        }else if(mes === 3) {\n            m.labelsSum[3] += parseInt(elem.attrValue);\n            \n        }else if(mes === 4) {\n            m.labelsSum[4] += parseInt(elem.attrValue);\n            \n        }else if(mes === 5) {\n            m.labelsSum[5] += parseInt(elem.attrValue);\n            \n        }else if(mes === 6) {\n            m.labelsSum[6] += parseInt(elem.attrValue);\n            \n        }else if(mes === 7) {\n            m.labelsSum[7] += parseInt(elem.attrValue);\n            \n        }else if(mes === 8) {\n            m.labelsSum[8] += parseInt(elem.attrValue);\n            \n        }else if(mes) {\n            m.labelsSum[9] += parseInt(elem.attrValue);\n            \n        }else if(mes === 10) {\n            m.labelsSum[10] += parseInt(elem.attrValue);\n            \n        }else if(mes === 11) {\n            m.labelsSum[11] += parseInt(elem.attrValue);\n            \n        }\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsSum[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push((parseFloat(m.labelsSum[i])*0.02)/4);\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3330,"y":360,"wires":[["da7a502f.fb757","617c45d3.c4079c"]]},{"id":"d982e44e.d0e8a8","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"energia\"}","payloadType":"json","x":2930,"y":320,"wires":[["9f04515d.5dc0a"]]},{"id":"e8f8cfef.0d165","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":3120,"y":360,"wires":[["c60123c1.0de03"]]},{"id":"9f04515d.5dc0a","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3120,"y":320,"wires":[["e8f8cfef.0d165"]]},{"id":"5294904b.7dd5b","type":"comment","z":"a7efa5bb.556618","name":"Custo x Mês - Vazão","info":"","x":2890,"y":280,"wires":[]},{"id":"da7a502f.fb757","type":"ui_chart","z":"a7efa5bb.556618","name":"Energia- Gastos por mês (R$)","group":"84e01bf4.750c98","order":4,"width":0,"height":0,"label":"Energia- Gastos por mês (R$)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Energia- Gastos por mês (R$)","dot":true,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3570,"y":360,"wires":[[]],"inputLabels":["Vazão"]},{"id":"617c45d3.c4079c","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3510,"y":320,"wires":[]},{"id":"9110703d.d059f","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":720,"wires":[["3d88a80e.360578"]]},{"id":"3d88a80e.360578","type":"ui_chart","z":"a7efa5bb.556618","name":"Umidade - Histórico","group":"17efd91.029e827","order":3,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Umidade","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1750,"y":720,"wires":[[]],"inputLabels":["Vazão"]},{"id":"6199b59a.a0de1c","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"umidade\"}","payloadType":"json","x":1150,"y":700,"wires":[["5d6164eb.52593c"]]},{"id":"49af182c.32a838","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":740,"wires":[["9110703d.d059f","4bab00bf.7f411"]]},{"id":"5d6164eb.52593c","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":700,"wires":[["49af182c.32a838"]]},{"id":"4bab00bf.7f411","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":680,"wires":[]},{"id":"55346c88.a6d2d4","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Energia","info":"","x":1130,"y":660,"wires":[]},{"id":"899dd3c7.67a4c","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\nm.labelsSum = [];\nfor(var i=0; i < 24; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar ano = hj.getFullYear(), mes = hj.getMonth()+1, dia = hj.getDate()-1;\nvar hour = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        hour = recordDate.getHours();\n        \n        if(hour === 0) {\n            m.labelsCount[0] += 1;\n            m.labelsSum[0] += parseInt(elem.attrValue);\n        }else if(hour === 1) {\n            m.labelsCount[1] += 1;\n            m.labelsSum[1] += parseInt(elem.attrValue);\n        }else if(hour === 2) {\n            m.labelsCount[2] += 1;\n            m.labelsSum[2] += parseInt(elem.attrValue);\n        }else if(hour === 3) {\n            m.labelsCount[3] += 1;\n            m.labelsSum[3] += parseInt(elem.attrValue);\n        }else if(hour === 4) {\n            m.labelsCount[4] += 1;\n            m.labelsSum[4] += parseInt(elem.attrValue);\n        }else if(hour === 5) {\n            m.labelsCount[5] += 1;\n            m.labelsSum[5] += parseInt(elem.attrValue);\n        }else if(hour === 6) {\n            m.labelsCount[6] += 1;\n            m.labelsSum[6] += parseInt(elem.attrValue);\n        }else if(hour === 7) {\n            m.labelsCount[7] += 1;\n            m.labelsSum[7] += parseInt(elem.attrValue);\n        }else if(hour === 8) {\n            m.labelsCount[8] += 1;\n            m.labelsSum[8] += parseInt(elem.attrValue);\n        }else if(hour === 9) {\n            m.labelsCount[9] += 1;\n            m.labelsSum[9] += parseInt(elem.attrValue);\n        }else if(hour === 10) {\n            m.labelsCount[10] += 1;\n            m.labelsSum[10] += parseInt(elem.attrValue);\n        }else if(hour === 11) {\n            m.labelsCount[11] += 1;\n            m.labelsSum[11] += parseInt(elem.attrValue);\n        }else if(hour === 12) {\n            m.labelsCount[12] += 1;\n            m.labelsSum[12] += parseInt(elem.attrValue);\n        }else if(hour === 13) {\n            m.labelsCount[13] += 1;\n            m.labelsSum[13] += parseInt(elem.attrValue);\n        }else if(hour === 14) {\n            m.labelsCount[14] += 1;\n            m.labelsSum[14] += parseInt(elem.attrValue);\n        }else if(hour === 15) {\n            m.labelsCount[15] += 1;\n            m.labelsSum[15] += parseInt(elem.attrValue);\n        }else if(hour === 16) {\n            m.labelsCount[16] += 1;\n            m.labelsSum[16] += parseInt(elem.attrValue);\n        }else if(hour === 17) {\n            m.labelsCount[17] += 1;\n            m.labelsSum[17] += parseInt(elem.attrValue);\n        }else if(hour === 18) {\n            m.labelsCount[18] += 1;\n            m.labelsSum[18] += parseInt(elem.attrValue);\n        }else if(hour === 19) {\n            m.labelsCount[19] += 1;\n            m.labelsSum[19] += parseInt(elem.attrValue);\n        }else if(hour === 20) {\n            m.labelsCount[20] += 1;\n            m.labelsSum[20] += parseInt(elem.attrValue);\n        }else if(hour === 21) {\n            m.labelsCount[21] += 1;\n            m.labelsSum[21] += parseInt(elem.attrValue);\n        }else if(hour === 22) {\n            m.labelsCount[22] += 1;\n            m.labelsSum[22] += parseInt(elem.attrValue);\n        }else if(hour === 23) {\n            m.labelsCount[23] += 1;\n            m.labelsSum[23] += parseInt(elem.attrValue);\n        }\n    }\n    else {\n        //m.series.push(ano+'-'+mes+'-'+dia);\n    }\n})\n\nfor(i=0; i<24;++i) {\n    if(m.labelsCount[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push(parseFloat(m.labelsSum[i])/parseFloat(m.labelsCount[i]));\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":840,"wires":[["a827d7d0.4a3528"]]},{"id":"a827d7d0.4a3528","type":"ui_chart","z":"a7efa5bb.556618","name":"Gás - Histórico","group":"18e9eea3.340e91","order":4,"width":0,"height":0,"label":"Gás","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Gás","dot":true,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1740,"y":840,"wires":[[]],"inputLabels":["Vazão"]},{"id":"7ea5e4d.98ab01c","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"gas\"}","payloadType":"json","x":1130,"y":820,"wires":[["7085d940.07aad8"]]},{"id":"e8d3e88e.5399e8","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":1340,"y":860,"wires":[["899dd3c7.67a4c","5b54c986.aa1338"]]},{"id":"7085d940.07aad8","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":820,"wires":[["e8d3e88e.5399e8"]]},{"id":"5b54c986.aa1338","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":800,"wires":[]},{"id":"d8ca21e6.5d7f2","type":"comment","z":"a7efa5bb.556618","name":"Gráfico Histórico - Energia","info":"","x":1130,"y":780,"wires":[]},{"id":"d501576f.4182a8","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var m = {};\nm.labels = [];\nm.labelsCount = [];\n\nm.labelsSum = [];\n\nfor(var i=0; i < 12; ++i) {\n    m.labels.push(i.toString());\n    m.labelsCount.push(0);\n    m.labelsSum.push(0);\n}\n\nm.data = [[]];\nm.series = [];\n\nvar hj = new Date();\n//m.series.push(hj.toString());\nvar mes = '';\n\nmsg.payload.forEach((elem, idx) => {\n    //m.series.push(elem.recvTime.toString());\n    if(true) {\n        var recordDate = new Date(elem.recvTime);\n        mes = recordDate.getMonth();\n        \n        if(mes === 0) {\n            m.labelsSum[0] += parseInt(elem.attrValue);\n            \n        }else if(mes === 1) {\n            m.labelsSum[1] += parseInt(elem.attrValue);\n            \n        }else if(mes === 2) {\n            m.labelsSum[2] += parseInt(elem.attrValue);\n            \n        }else if(mes === 3) {\n            m.labelsSum[3] += parseInt(elem.attrValue);\n            \n        }else if(mes === 4) {\n            m.labelsSum[4] += parseInt(elem.attrValue);\n            \n        }else if(mes === 5) {\n            m.labelsSum[5] += parseInt(elem.attrValue);\n            \n        }else if(mes === 6) {\n            m.labelsSum[6] += parseInt(elem.attrValue);\n            \n        }else if(mes === 7) {\n            m.labelsSum[7] += parseInt(elem.attrValue);\n            \n        }else if(mes === 8) {\n            m.labelsSum[8] += parseInt(elem.attrValue);\n            \n        }else if(mes===9) {\n            m.labelsSum[9] += parseInt(elem.attrValue);\n            \n        }else if(mes === 10) {\n            m.labelsSum[10] += parseInt(elem.attrValue);\n            \n        }else if(mes === 11) {\n            m.labelsSum[11] += parseInt(elem.attrValue);\n            \n        }\n    }\n})\n\nfor(i=0; i<12;++i) {\n    if(m.labelsSum[i] === 0)\n        m.data[0].push(0);\n    else\n        m.data[0].push((parseFloat(m.labelsSum[i])*0.02)/4);\n}\n\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3330,"y":500,"wires":[["d6225e17.c0ccb","82e2a96.d03e658"]]},{"id":"32d342e9.cf331e","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"gas\"}","payloadType":"json","x":2910,"y":460,"wires":[["490924d6.4d373c"]]},{"id":"111157ee.7551b8","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":3120,"y":500,"wires":[["d501576f.4182a8"]]},{"id":"490924d6.4d373c","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3120,"y":460,"wires":[["111157ee.7551b8"]]},{"id":"94e0639a.5b991","type":"comment","z":"a7efa5bb.556618","name":"Custo x Mês - Vazão","info":"","x":2890,"y":420,"wires":[]},{"id":"d6225e17.c0ccb","type":"ui_chart","z":"a7efa5bb.556618","name":"Gás - Gastos por mês (R$)","group":"84e01bf4.750c98","order":6,"width":0,"height":0,"label":"Gás - Gastos por mês (R$)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Gás - Gastos por mês (R$)","dot":true,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1500ff","#8fb4e6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3560,"y":500,"wires":[[]],"inputLabels":["Vazão"]},{"id":"82e2a96.d03e658","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3510,"y":460,"wires":[]},{"id":"d93e07c9.0fbac8","type":"function","z":"a7efa5bb.556618","name":"Gás","func":"\nreturn msg.payload.gas;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":820,"wires":[["d390f5df.43cf18"]]},{"id":"d390f5df.43cf18","type":"ui_gauge","z":"a7efa5bb.556618","name":"Gás","group":"a962a0d7.8fee","order":5,"width":0,"height":0,"gtype":"donut","title":"Gás","label":"m³/s","format":"{{value}}","min":0,"max":"100","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":850,"y":820,"wires":[]},{"id":"adc454b.ae60ca8","type":"function","z":"a7efa5bb.556618","name":"Filter Data","func":"var soma = 0;\nvar custo = 0.02;\n\nvar mes_atual = new Date();\n\nmsg.payload.forEach((elem, idx) => {\n    \n    var recordDate = new Date(elem.recvTime);\n    var mes_registro = recordDate.getMonth();\n    \n    if (mes_registro == mes_atual.getMonth())\n        soma = soma + parseInt(elem.attrValue); \n})\n\nmsg.payload = Math.round(soma * custo)/4;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":460,"wires":[["32737ec0.2e98a2"]]},{"id":"47be7c47.9a3e24","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"},{"p":"content","v":"select","vt":"flow"},{"p":"soma","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"attrName\":\"gas\"}","payloadType":"json","x":2050,"y":420,"wires":[["1c9b3c7.28006c4"]]},{"id":"a5635bd0.5d2598","type":"mongodb in","z":"a7efa5bb.556618","mongodb":"510ac2c5.fc246c","name":"MongoDB","collection":"","operation":"find","x":2260,"y":460,"wires":[["adc454b.ae60ca8"]]},{"id":"1c9b3c7.28006c4","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.collection = \"sth_/_urn:ngsi-ld:\" + msg.content + \"_SmartMeter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":420,"wires":[["a5635bd0.5d2598"]]},{"id":"6c0a7d91.d58524","type":"comment","z":"a7efa5bb.556618","name":"Gastos - Energia","info":"","x":2020,"y":380,"wires":[]},{"id":"32737ec0.2e98a2","type":"ui_gauge","z":"a7efa5bb.556618","name":"Gás","group":"46f2df96.94c38","order":6,"width":0,"height":0,"gtype":"donut","title":"Gás","label":"R$","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2630,"y":460,"wires":[]},{"id":"79cfd754.703088","type":"debug","z":"a7efa5bb.556618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"d9ebafc.61b1d5","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.payload = \"urn:ngsi-ld:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["79cfd754.703088"]]},{"id":"aeb93c48.70a36","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.payload = \"urn:ngsi-ld:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":780,"wires":[["29e6279c.870198"]]},{"id":"86bc5efb.8691d","type":"debug","z":"a7efa5bb.556618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"collection","targetType":"msg","statusVal":"","statusType":"auto","x":3320,"y":100,"wires":[]},{"id":"3b3733d9.13e3ac","type":"inject","z":"a7efa5bb.556618","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":90,"y":220,"wires":[["2d3a99e3.20bee6"]]},{"id":"2d3a99e3.20bee6","type":"function","z":"a7efa5bb.556618","name":"Make Request","func":"msg.method = \"GET\";\nmsg.url = \"http://143.107.145.32:1026/v2/entities\"\nmsg.headers = {};\nmsg.headers['fiware-service'] = 'helixiot';\nmsg.headers['fiware-servicepath'] = '/';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["3b2c4e5b.08b282"]]},{"id":"3b2c4e5b.08b282","type":"http request","z":"a7efa5bb.556618","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://143.107.145.32:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["cfd829b3.ce11e8"]]},{"id":"cfd829b3.ce11e8","type":"function","z":"a7efa5bb.556618","name":"Filter IDs","func":"var ids = [];\nmsg.payload.forEach((elem, idx) => {\n    if (elem.id.startsWith('urn:ngsi-ld:Poste'))\n    {\n        elem.id = elem.id.substring(12);\n        ids.push(elem.id);\n    }\n});\nreturn {options:ids};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["606de84b.242578"]]},{"id":"8af7aafc.7c7708","type":"change","z":"a7efa5bb.556618","name":"","rules":[{"t":"set","p":"select","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":260,"wires":[["d427a529.a56528"]]},{"id":"606de84b.242578","type":"ui_dropdown","z":"a7efa5bb.556618","name":"","label":"","tooltip":"Selecione o dispositivo na lista","place":"Selecione o Dispositivo","group":"4ecb4761.d12288","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":700,"y":220,"wires":[["8af7aafc.7c7708"]]},{"id":"99b44ce6.c341b","type":"comment","z":"a7efa5bb.556618","name":"Combobox - Postes","info":"","x":110,"y":180,"wires":[]},{"id":"d427a529.a56528","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.payload = \"urn:ngsi-ld:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":260,"wires":[[]]},{"id":"7cae6a5f.150fc4","type":"function","z":"a7efa5bb.556618","name":"","func":"msg.payload = \"urn:ngsi-ld:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":580,"wires":[["5d532104.0a335"]]},{"id":"7ec4ab71.e1e284","type":"function","z":"a7efa5bb.556618","name":"Umidade","func":"\nreturn msg.payload.umidade;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":620,"wires":[["b74ca82d.0cb998"]]},{"id":"b74ca82d.0cb998","type":"ui_gauge","z":"a7efa5bb.556618","name":"Umidade","group":"4ecb4761.d12288","order":4,"width":0,"height":0,"gtype":"donut","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#6da7f8","#000000","#000000"],"seg1":"150","seg2":"175","x":860,"y":620,"wires":[]},{"id":"753dccd2.50eb04","type":"Context-Broker","z":"","name":"OrionHelixUSP","endpoint":"http://143.107.145.32:1026","service":"helixiot","idmEndpoint":""},{"id":"a962a0d7.8fee","type":"ui_group","z":"","name":"Casas","tab":"bbb29091.2bbd1","order":1,"disp":true,"width":7,"collapse":false},{"id":"510ac2c5.fc246c","type":"mongodb","z":"","hostname":"143.107.145.32","port":"27000","db":"sth_helixiot","name":""},{"id":"17efd91.029e827","type":"ui_group","z":"","name":"Histórico","tab":"9de6b5cd.a9fe48","order":3,"disp":true,"width":10,"collapse":false},{"id":"18e9eea3.340e91","type":"ui_group","z":"","name":"Histórico","tab":"bbb29091.2bbd1","order":3,"disp":true,"width":8,"collapse":false},{"id":"4ecb4761.d12288","type":"ui_group","z":"","name":"Postes","tab":"9de6b5cd.a9fe48","order":1,"disp":true,"width":8,"collapse":false},{"id":"46f2df96.94c38","type":"ui_group","z":"","name":"Gastos - Mês atual","tab":"bbb29091.2bbd1","order":2,"disp":true,"width":6,"collapse":false},{"id":"84e01bf4.750c98","type":"ui_group","z":"","name":"Histórico por mês","tab":"bbb29091.2bbd1","order":4,"disp":true,"width":8,"collapse":false},{"id":"bbb29091.2bbd1","type":"ui_tab","z":"","name":"Casas","icon":"dashboard","disabled":false,"hidden":false},{"id":"9de6b5cd.a9fe48","type":"ui_tab","z":"","name":"Postes","icon":"dashboard","order":2,"disabled":false,"hidden":false}]